.selectedMovie {
  width: 80vw;
  background-size: 80vw;
  height: 80vh;
  background-repeat: no-repeat;
}
.selectedTitle {
  font-size: 4em;
  color: rgb(255, 0, 0);
  margin: 0%
}

.selectedReleaseDate {
  font-size: 1em;
  color: rgb(255, 0, 0);
  margin: 0%
}

.backButton {
  color: white;
  background-color: black;
  margin-top: 1em;
  border-radius: 1em;
  padding: .4em;
  padding-left: 1em;
  padding-right: 1em;
}
