.selectedMovie {
  width: 100%;
  min-height: 96vh;
  background-color: white;
  color: black
}

.video-container {
  aspect-ratio: 16/9;
  max-width: 100%;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.backdrop {
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  margin: 48px;
}

.selectedPoster {
  width: 155px;
  height: 222px;
  margin-right: 42px;
  border-radius: 10px;
}

.information {
  background-color: rgb(240, 240, 240);
  padding: 8px;
  border-radius: 10px;
  height: 222px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-align: center;
}

.rating-container {
  margin-top: 24px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.rating-img {
  width: 40px;
  height: auto;
  margin-right: 4px;
}

.percentage {
  font-size: 30px;
}

.selectedTitle {
  font-size: 32px;
  margin: 0%
}

.overview {
  margin: 48px;
  margin-bottom: 0;
  font-size: 1.2em;
  padding-bottom: 96px;
}