.app {
  align-self: center;
  font-family: Roboto, sans-serif;
  width: 980px;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}