.app {
  align-self: center;
  width: 980px;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

@media screen and (max-width: 1000px) {
  .app {
    width: 100vw;
  }

  .grid-container {
    width: 100vw;
  }

  .Movies {
    grid-template-columns: repeat(4, 1fr);
  }

}

@media screen and (max-width: 800px) {
  .Movies {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .Movies {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 24px;
  }

  .container {
    margin: 24px;
  }

  .information {
    font-size: 12px;
  }

  .selectedPoster {
    margin-right: 24px;
  }

  .selectedTitle {
    font-size: 12px;
  }

  .percentage {
    font-size: 16px;
    font-weight: bold;
  }

  .rating-img {
    width: 16px;
    height: auto;
    margin-right: 4px;
  }

}