
.rt-logo {
  height: 60px;
  width: auto;
  padding: 24px;
}

.rt-logo:hover {
  cursor: pointer;
}

nav {
  padding: 24px;
  display: flex;
  align-items: center;
}

.user-wrap {
  display: flex;
  align-items: center;
}

.user-wrap:hover, user-wrap *:hover {
  cursor: pointer;
}

.login-img {
  height:auto;
  width: 28px;
  margin-right: 8px;
  filter: invert(100%);
}